// colors
$accentColor  = #9a8700 // default #3eaf7c
$textColor    = #333    // default #2c3e50
$borderColor  = #eaecef // default #eaecef
$codeBgColor  = #23242f // default #282c34
$arrowBgColor = #ccc    // default #ccc

// layout
$navbarHeight = 3.6rem // default 3.6rem
$sidebarWidth = 20rem  // default 20rem
$contentWidth = 740px  // default 740px

// responsive breakpoints
$MQNarrow       = 959px // default 959px
$MQMobile       = 719px // default 719px
$MQMobileNarrow = 419px // default 419px

// custom variables for override
$accentColorLight = #cdb300
$buttonColor      = #ffe953
$buttonColorDark  = #ffe220
$linkColor        = #ffe953
$linkColorLight   = #fff086
$bgColorDark      = #232733
$sidebarBgColor   = #171921
$navbarBgColor    = rgba(#fff, .96)

.theme-container
  @import 'prismjs'

  // Navbar.vue
  .navbar
    background-color $navbarBgColor
    -webkit-backdrop-filter blur(2px)

  // SearchBox.vue
  .search-box
    input:not(:focus)
      background-color transparent

  // Sidebar.vue
  .sidebar
    background-color $sidebarBgColor

  // SidebarGroup.vue
  .sidebar-group
    &:not(.first)
      margin-top 0
  .sidebar-heading
    display none

  // SidebarLink.vue
  a.sidebar-link
    color $linkColor
    &:hover
      color $linkColorLight
    &.active
      color $linkColorLight
      border-left-color $linkColorLight
