.token
  &.comment,
  &.block-comment,
  &.prolog,
  &.doctype,
  &.cdata
    color #818eb6

  &.punctuation
    color #fff

  &.function-name
    color #6196cc

  &.inserted
    color green

  &.tag,
  &.attr-name,
  &.namespace,
  &.deleted
    color #e2777a

  &.boolean,
  &.number
    color #bd93f9

  &.function
    color #f1fa8c

  &.property,
  &.class-name,
  &.constant,
  &.symbol
    color #f8c555

  &.selector,
  &.important,
  &.atrule,
  &.keyword,
  &.builtin
    color #ff79c6

  &.string,
  &.char,
  &.attr-value,
  &.regex,
  &.variable
    color #8cc0fa

  &.operator,
  &.entity,
  &.url
    color #ff79c6
